@{
    ViewBag.Title = "Accounts";
    var view = new VstViewFormat
    {
        DataSource = Model,
        Columns = new List<ColumnInfo>
{
            new ColumnInfo { Name = "Id", ClassName = "lg-12", Caption = "Tên người dùng", AllowNull = false },
            new ColumnInfo { Name = "Role", ClassName = "lg-12", Caption = "Role", Input = "select" },
            new ColumnInfo { Name = "Password", ClassName = "lg-12", Caption = "Mật khẩu", Input = "none" },
        },
    };
}

<h2>@ViewBag.Title</h2>
<style>
    .Id {
        width: 200px;
        background-color: whitesmoke;
    }
    .Role {
        width: 80px;
    }
</style>

<div id="main-content"></div>

<script>
    var fields = @view.HtmlColumns;
    var values = @view.HtmlData;

    fields[1].options = ["Admin", "Guest"];
    var table = new ApiTable("/account/", fields, values, 7, "gear");
</script>
